@keyframes fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 .menu {
   display: none;
   width: 0;
   height: 0;
   overflow: hidden;
   font-size: 20px;
   text-align: center;
 }
 
 .menu-open {
   top: 65px;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.932);
   height: 100vh;
   width: 100vw;
   color: white;
   font-size: 3em;
   animation-name: fadeIn;
   animation-duration: 0.5s;
 }
 
 .geracoes-container {
   display: flex;
   margin: auto;
   align-self: center;
   flex-wrap: wrap;
   justify-content: center;
   width: 87vw;
 }

 .h1-menu {
   font-size: 35px;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 20px;
   color: black;
   background-image: linear-gradient(to right, transparent, white, white, white, transparent);
 }

 .geracoes-container a {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Lilita One', sans-serif;
   font-size: 30px;
   text-decoration: none;
   color: white;
   background-color: darkcyan;
   padding: 15px;
   margin: 10px;
   width: 55px;
   height: 55px;
   border-radius: 50%;
   border: 2px solid white;
   
 }

 
 /* o botao do menu usa o estilo de botao definido no componente Home */
