
.header-box {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: black;
   height: 65px;
   width: 100vw;
   position: fixed;
   
}

.espaco-header {
   height: 65px;
}

.div-logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   
}

.header-titulo {
   color: white;
   font-family: 'Lilita One', cursive;
   font-weight: 200;
   font-size: 2em;
}

.header-img {
   width: 45px;
   margin-left: 15px;
}