
.header-box {
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: black;
   height: 55px;
   
}

.div-logo {
   display: flex;
   flex-direction: row;
   align-items: center;
   
}

.header-titulo {
   background-color: black;
   color: white;
}

.header-img {
   width: 45px;
   margin-left: 15px;
}